<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.backstage.dao.SubjectDao">

	<insert id="insert">
		INSERT INTO subject (name,detailed) VALUES
		(#{name},#{detailed})
	</insert>

	<update id="update"  parameterType="com.imooc.backstage.domain.Subject">
		update subject
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null">name=#{name},</if>
			<if test="detailed != null">detailed=#{detailed},</if>
		</trim>
		where id=#{id}
	</update>

</mapper>