<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.backstage.dao.TopicDao">

	<insert id="insert">
		INSERT INTO topic (name,type,subject_id,optionA,optionB,optionC,optionD,optionE,optionF) VALUES
		(#{name},#{type},#{subjectId},#{optionA},#{optionB},#{optionC},#{optionD},#{optionE},#{optionF})
	</insert>

	<update id="update"  parameterType="com.imooc.backstage.domain.Topic">
		update topic
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null">name=#{name},</if>
			<if test="type != null">type=#{type},</if>
			<if test="subjectId != null">subject_id=#{subjectId},</if>
			<if test="optionA != null">optionA=#{optionA},</if>
			<if test="optionB != null">optionB=#{optionB},</if>
			<if test="optionC != null">optionC=#{optionC},</if>
			<if test="optionD != null">optionD=#{optionD},</if>
			<if test="optionE != null">optionE=#{optionE},</if>
			<if test="optionF != null">optionF=#{optionF}</if>
		</trim>
		where id=#{id}
	</update>

</mapper>